*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border:0.17em solid #0a0d0d;
    /* background: linear-gradient(transparent,#363838); */
    background-color: rgb(35, 37, 37);
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#a89e8c,transparent);
}

::-webkit-scrollbar-track{
    background-color: #010303;
}

body {
    color: #fff;
    font-family: Source Sans Pro,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

.fondo{
    width:100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-size:cover;
    background-position:top center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)) ,url(background.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Source Sans Pro,sans-serif;
}

.container {
    background-image: radial-gradient(rgba(0,0,0,.25) 25%,transparent 55%);
}

.a{
    display: none;
    width:100%;
    text-align: left;
    flex-flow: column;
    position: relative;
    height: 85vh;
    overflow-y: auto;
    background-color: rgba(27,31,34,.85);
    width: 40rem;
    padding: 4.5rem 2.5rem 1.5rem;
    border-radius: 4px
}

.a li{
    text-align: left;
    line-height: 1.65;
    margin: 0 0 2rem;
}

.close{
    position: relative;
    right: -92%;
    top: -6%;
    cursor: pointer;
    border:none;
    background-color: rgba(27,31,34,.85);
    font-size: 45px;
    border-radius: 100%;
    border: none;
    width: 4rem;
    height: 4rem;
    color: #fff;
}
.extra-linea{
    display: flex
}

.item {
    width: 353.5px;
    height: 56px;
    flex-direction: inherit;
}

#item1{
    border-right: 1px solid white;
}
.active{
    display: flex;
}

.desactive{
    display: none;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 1;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.nombre {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    max-width: 100%;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 3rem 2rem;
}

.nombre p{
    letter-spacing: .2rem;
}

.a p{
    margin: 0 0 2rem;
    text-align: left;
    line-height: 1.65;
}

indice {
    display: flex;
    flex-direction: column;
}

header .inner {
    padding-bottom: 48px;
    padding-top: 48px;
}



#header nav ul {
    border-radius: 4px;
    display: flex;
    list-style: none;
    padding-left: 0;
}


header .icons li{
    display: inline-block;
    padding-right: 0;
    font-family: FontAwesome;
}

#header .inner {
    max-height: 40rem;
    overflow: hidden;
    padding: 3rem 2rem;
    transition: max-height .75s ease,padding .75s ease,opacity .325s ease-in-out;
    transition-delay: 0s, 0s, 0s;
    transition-delay: .25s;
}
.fa-github::before {
    content: "\f09b";
}

.fa-linkedin::before {
    content: "\f0e1";
}

.fa-facebook::before {
    content: "\f082";
}

.fa-youtube::before {
    content: "\f16a";
}

.icon {
    border-bottom: none;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 35px;

}


.link{
    border: 1px solid white;
    border-radius: 4px;

}

.link1{
    border: none;
    box-shadow: none;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-family: Source Sans Pro,sans-serif;
    font-size: .8rem;
    height: 2.75rem;
    letter-spacing: .2rem;
    line-height: 2.75rem;
    width: 141.4px;
    padding: 0 1.25rem 0 1.45rem;
    text-transform: uppercase;
    background-color: hsla(0,0%,100%,.075);
    justify-content: center; 
}

#b1{

    border-right: 1px solid white;
}
#b2{

    border-right: 1px solid white;
}
#b3{

    border-right: 1px solid white;
}
#b4{

    border-right: 1px solid white;
}
.icon > .label {
    display: none;
}

header ul {
    list-style: disc;
    margin-top: 0px;
    padding-left: 1em;
}

ul.icons li {
    display: inline-block;
    padding: 0 .75em 0 0;
}

ul.icons li a {
    color: #fff;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px #fff;
    display: inline-block;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    width: 2.25rem;
}

#header nav ul li button:hover {
    opacity: 0.2;
}
#header .icon:hover {
    opacity: 0.2;
}

.close:hover {
    opacity: 0.2;
}


h2{
    letter-spacing: .5rem;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    margin: 0rem 0 2rem;
    font-size: 1.25em;
    padding-bottom: 0.5rem;
    width: -webkit-max-content;
}
h1{
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 1rem;
    letter-spacing: .5rem;
}
